<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>All posts</h1>
    </div>
    <table class="table table-bordered">
        <thead class="bg-dark text-center">
            <tr class="text-white">
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
                <th>Category</th>
                <th>Comments Allowed</th>
                <th>Date created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td>{{category.title}}</td>
                <td>{{allowComments}}</td>
                <td>{{creationDate}}</td>
                <td class="d-flex">
                    <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-success">Edit</a>
                    <form action="/admin/posts/delete/{{_id}}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-sm btn-danger ml-2">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

